
            table  {
                border-collapse: collapse;
                margin: 20px;
                width: 100%;
                max-width: 600px;
            }
            th, td {
                border: 1px solid #cccccc;
                text-align: center;
                 padding: 10px       
            }
            

